<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    
        <div class="game-panel">
        <h1>Welcome to Pixel Pal!</h1>
    <p> Name:{{ name }}</p>
    <p> Age: {{ age }}</p>
    <p> Stage: {{ evo_stage }}</p>
    <p> Hunger: {{ hunger }}</p>
        {% if can_feed %}
            <button type="submit" disabled>Feed</button>
            <p> {{ name }} is not hungry! <br>
                Try playing with or resting them!</p>
        {% else %}
            <form action="/feed" method="POST">
                <button type="submit">Feed</button>
            </form>
        {% endif %}  

    <p> Energy: {{ energy }}</p>
    {% if can_rest %}
        <button type="submit" disabled>Rest</button>
        <p> {{ name }} is not tired! <br>
            Try playing with or feeding them!</p>
    {% else %}
        <form action="/rest" method="POST">
            <button type="submit">Rest</button>
        </form>
    {% endif %}

    <p> Happiness: {{ happiness }}</p>
        {% if can_play %}
        <button type="submit" disabled>Play</button>
        <p> {{ name }} is too tired to play! <br>
            Try resting or feeding them!</p>
    {% else %}
        <form action="/play" method="POST">
            <button type="submit">Play</button>
        </form>
    {% endif %}

    <form action="/idle" method="POST">
        <button type="submit">Do Nothing</button>
    </form>

    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
    </div>

        <div class="sprite-panel">
        <img src="/static/sprites/{{ get_sprite }}" alt="PixelPal">
    </div>
</div>
</body>
</html>
