<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    
        <div class="game-panel">
        <h1>Welcome to Pixel Pal!</h1>
    <p> Name:{{ name }}</p>
    <p> Age: {{ age }}</p>
    <p> Stage: {{ evo_stage }}</p>
    <p> Hunger: {{ hunger }}</p>
    <p> Energy: {{ energy }}</p>
    <p> Happiness: {{ happiness }}</p>

<div class ="button-row">
         <div>
            {% if can_feed %}
            <button type="submit" disabled>Feed</button>
            <p> {{ name }} is<br>
                not hungry!</p>
        {% else %}
            <form action="/feed" method="POST">
                <button type="submit">Feed</button>
            </form>
        {% endif %}  
        </div>
    <div>
    {% if can_rest %}
        <button type="submit" disabled>Rest</button>
        <p> {{ name }} is<br>
            not tired!</p>
    {% else %}
        <form action="/rest" method="POST">
            <button type="submit">Rest</button>
        </form>
    {% endif %}
</div>
<div>
        {% if can_play %}
        <button type="submit" disabled>Play</button>
        <p> {{ name }} is <br>
            too tired <br>
            to play!</p>
    {% else %}
        <form action="/play" method="POST">
            <button type="submit">Play</button>
        </form>
    {% endif %}
    </div>  

    </div>

    <div class ="talk-pet-row">
    <form action="/talk" method="POST">
    <button type="submit">Talk</button>
    </form>
    <form action="/pet" method="POST"> 
    <button type="submit">Pet</button>
    </form>
    </div>


        <div class="sprite-panel">
        <img src="/static/sprites/{{ get_sprite }}" alt="PixelPal">
            {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    </div>
        <form action="/idle" method="POST">
        <button type="submit" class="nothing-btn">Do Nothing</button>
    </form>
    <button id="open-modal">Save & Quit</button>
</div>
    <div id="save-modal">
    <div id="modal-content">
        <h2>Game Saved!</h2>
        <p>Your pal is safe!</p>
        <button id="close-modal">Close</button>
    </div>
    </div> 
<script>
    document.getElementById("open-modal").onclick = function() {
    document.getElementById("save-modal").style.display = "block";
    };

    document.getElementById("close-modal").onclick = function() {
    document.getElementById("save-modal").style.display = "none";
    };
</script>
</body>
</html>
